@model Category;


<div class="card shadow">
    <div class="card-header">
        <div class="row text-center">
            <h2 class="text-primary text-black-50 p-2">Create Category</h2>
        </div>
    </div>
    <div class="card-body">
        <form method="post" class="">
            <div class="mt-1">
                @* <div class="row">
                    <h2 class="text-primary text-black-50 p-2">Create Category</h2>
                    <hr />
                </div> *@

                <div asp-validation-summary="All"></div>
                    <div class="col-12 form-floating py-1">
                        <input asp-for="Name" type="text" class="form-control p-1" placeholder="Category Name" />
                        <label asp-for="Name" ></label>
                        <span asp-validation-for="Name" class="text-danger "></span>
                    </div>
                    <div class="col-12 form-floating py-1">
                        <input asp-for="DisplayOrder" type="number" class="form-control p-1" placeholder="DisplayOrder" />
                        <label asp-for="DisplayOrder" ></label>
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                <div class="row mt-2">
                    <div class="col-6 col-md-3 p-2">
                        <button type="submit" class="btn btn-primary bg-black form-control">Create</button>
                    </div>

                    <div class="col-6 col-md-3 p-2">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>       
    </div>
</div>
    

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
